<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoBlaze">
<test name="SignUp">
<classes>
<class name="com.atmecs.demoblaze.LogInTest"/>
<class name="com.atmecs.demoblaze.SignUpTest"/>

<class name="com.atmecs.demoblaze.AddToCartTest"/>
<class name="com.atmecs.demoblaze.VerifyCartTest"/>

</classes>
</test>
</suite>